body {
  font-family: "Roboto", sans-serif;
}
a {
  color: var(--clr-primary);
}

.flex-space-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.flex-center-vert {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.flex-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.custom-container {
  width: 100%;
  max-width: 140rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}
