.accordion-collapse {
    padding: 0 1.4rem;
}
.accordion-content button {
    background-color: transparent;
}

.accordion-content button span {
    color: var(--clr-spectrum);
    background-color: transparent;
    font-weight: bold;
}

.accordion h2 {
    max-width: 87rem !important;
}
.accordion-button {
    background: var(--clr-f7) !important;
    padding: 1.6rem 2.4rem;
}
.accordion-button:not(.collapsed)::before {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-button::before {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-right: 1rem;
    content: "";
    background-image: var(--bs-accordion-btn-icon) !important;
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
    font-weight: bold;
    color: var(--clr-primary);
}

.accordion-button::after {
    display: none;
    margin-left: auto;
}


.accordion-button h4 {
    margin: 0 !important;
    color: var(--clr-primary);
    font-weight: bold;
}

.accordion-button span {
    margin-left: auto;
    font-weight: 400;
    color: var(--clr-primary);
}

.accordion-body-content i {
    font-size: 1.5rem;
}
.accordion-body-content-link a {
    font-size: 1.3rem;
}
.accordion-body-content-time {
    color: var(--clr-gray-2);
    font-weight: bold;
}
.accordion-body-content-time a {
    color: var(--swiper-theme-color);
    text-decoration: underline !important;
}
.readmore {
    width: 100%;
    border: 1px solid var(--clr-gray-2);
    background-color: transparent;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.readmore span {
    font-weight: bold;

}