.single-card {
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #d1d7dc;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    background-color: #fff;
}
.single-card-img i {
    font-size: 7rem;
    /* color: #fff; */
}
.single-card-img p {
    font-weight: bold;
    color: #fff;
}
.single-card-img img {
    max-width: 100%;
    position: absolute;
    z-index: -11;

}
.single-card-img{
    position: relative;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}