.header {
    background: var(--clr-primary);
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    color: var(--clr-secondry);
}
.header a{
   text-decoration: underline !important;
   color: var(--clr-anchor);
}
.header-rate-number, .header-rate-stars{
    color: var(--clr-card-stars-container)
 }
 .header-rate-number {
    font-weight: bold
 }
.header-rate span{
    margin-right: .4rem;
}
.header-rate-stars i{
    margin-right: .2rem;
}

.header-authers, .header-authers-name a{
    text-transform: capitalize !important;
}
.header-authers .header-authers-name a{
    margin-right: 0.4rem;
}
.header-authers {
    margin-bottom: 0.6rem;
}
