.header {
    background: var(--clr-primary);
    padding: 3.2rem;
    color: var(--clr-secondry);
}

.header a {
    text-decoration: underline !important;
    color: var(--clr-anchor);
}

.header-rate-number,
.header-rate-stars {
    color: var(--clr-card-stars-container)
}

.header-rate-number {
    font-weight: bold
}

.header-rate span {
    margin-right: .4rem;
}

.header-rate-stars i {
    margin-right: .2rem;
}

.header-authers,
.header-authers-name a {
    text-transform: capitalize !important;
}

.header-authers .header-authers-name a {
    margin-right: 0.4rem;
}

.header-authers {
    margin-bottom: 0.6rem;
}

.header-img {
    position: relative;
    height: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

@media (max-width: 991px) {
    .header-img {
        height: 34rem;
    }

    .header h1 {
        font-size: clamp(1.8rem, calc(2.5rem + 1.51vw), 2rem);

    }
}

@media (max-width: 767px) {
    .header-img {
        height: 28rem;
    }
}

@media (max-width: 575px) {
    .header-img {
        height: 20rem;
    }
}

@media (max-width: 380px) {
    .header-img {
        height: 16rem;
    }
}

.header-img i {
    font-size: 7rem;
    z-index: 111;
    color: var(--clr-secondry);
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.header-img p {
    font-weight: bold;
    color: var(--clr-secondry);
    z-index: 11;
}

.header-img img {
    max-width: 100%;
    position: absolute;
    height: 100%;
}



button[class^="header-button--"] {
    position: relative;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    padding: 0 1.2rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
    height: 4.8rem;
    min-width: 3rem !important;
}

.header-button-group {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    gap: .8rem;
}

.header-button--cart {
    background: var(--clr-spectrum-light) !important;
    color: var(--clr-secondry) !important;
    border: 1px solid var(--clr-primary) !important;
    flex: 1;
}

.header-button--love {
    border: 1px solid var(--clr-secondry) !important;
}

.header-button--love i {
    font-size: 2rem;
    color: var(--clr-secondry);
}


.header-price {
    display: flex;
    align-items: center;
    margin-top: 1.8rem;
}

.header-price h1 {
    font-size: clamp(3rem, calc(0.5rem + 1.51vw), 2.82rem);
    display: inline;
    margin-bottom: 0;
}

@media (max-width: 380px) {
    .header-price h1 {
        font-size: clamp(2rem, calc(0.5rem + 1.51vw), 2.82rem);
    }
}

.header-price span {
    font-size: clamp(1.6rem, calc(1.09rem + 0.09vw), 2rem);
}

.header-price .header-price--span {
    text-decoration: line-through;
    color: var(--clr-gray-2);
    font-size: clamp(1.6rem, calc(1.09rem + 0.09vw), 2rem);
}


.header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: underline;
    padding: 0 4rem;
}

.header-links {
    margin-top: 1rem;
}

.header-links a {
    font-size: 1.4rem;
    font-weight: bold;
}