:root {
    /* main color */
    --clr-primary: #1c1d1f;
    --clr-secondry: #fff;
    --clr-gray-0: #e0e0e0;
    --clr-gray-1: #a9a9a9;
    --clr-gray-2: #6e6e6e;
    --clr-f7: #f7f9fa;
    --clr-spectrum: #5624d0;
    --clr-main-content__card-stars-container: #e59819;
    --clr-btn-hover: rgba(0,0,0,.04);
    --clr-btn-hover-dark: rgba(0, 0, 0, 0.779);
}