.Head-title {
    margin-top: 5rem;
}

.Head-title h1 {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Gelasio', serif;
}

.Head-title p {
    margin-bottom: 5px !important;
}

.courses {
    margin-top: 2rem;
    border: 1px solid var(--clr-gray-1);
    padding: 20px 20px 20px 3rem;
    clear: both;
    position: relative;
}

/* Courses Tabs */

.cources-tab {
    width: 100%;
    margin: 0 auto;
}

/* Tabs nav */

.cources-tab .cources-nav ul li span {
    font-weight: bold;
    cursor: pointer;
    float: left;
    padding: 10px 10px 2px 5px;
    border-bottom: 0;
    color: var(--clr-gray-1);
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-bottom: 0.6rem;
}

.cources-tab .cources-nav ul li.active span {
    color: var(--clr-primary);
}

.spinner-grow {
    width: 50px !important;
    height: 50px !important;
    border-color: rgb(51, 51, 51);
    border-width: 2px;
    top: 26%;
    position: absolute;
    left: 50%;
    z-index: 11;
}
