.main-content__categories {
    margin: 10rem 0;
}
.main-content__categories .main-content__categories-title {
    margin-bottom: 3rem;
}

.main-content__categories .main-content__category-content {
    max-width: 370px;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.main-content__categories .main-content__category-content figure {
    transition: transform 100ms cubic-bezier(.2,0,1,.9);
}
.main-content__categories .main-content__category-content figure:hover {
    transform: scale(1.05);
transition: transform 150ms cubic-bezier(0,0,.38,.9);
}
.main-content__categories .main-content__category-content figcaption {
    font-size: 1.7rem;
    font-weight: bold;
}
